<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2> Electricty Query System </h2>
        <form action="/user" method="post">
            <input type="submit" value="Go to User Query"> 
        </form>

        <form action="/company" method="post">
            <input type="submit" value="Go to Company Management"> 
        </form>

        <form action="/government" method="post">
            <input type="submit" value="Go to Government Analysis"> 
        </form>

    </div>

</body>


